/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.enhanced-tables {
  & .table-container {
    width: 100%;
    overflow-x: scroll;
  }
}

.enhanced-tables-pagination {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
  }

  & button {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  & button:disabled {
    opacity: 0.4;
  }

  & button.active {
    color: var(--text-accent);
  }

  & .total {
    font-size: var(--font-smallest);
    padding-top: 1em;
    margin-left: 0.3em;
  }
}

.enhanced-tables-controls {
  display: flex;

  & > div {
    margin-right: 1em;
  }

  & label {
    font-size: var(--font-smallest);
    font-weight: var(--font-light);
  }

  & .sorting {
    & select {
      margin-right: 0.5em;
    }
  }
}

@media (max-width: 700px) {
  .enhanced-tables-controls {
    flex-direction: column;
  }

  .enhanced-tables-pagination {
    & .pag-nav-dots,
    .pag-nav-page,
    .pag-nav-dots,
    select {
      display: none;
    }

  }
}


.enhanced-tables-nowrap {
  white-space: nowrap !important;
}

.enhanced-tables-fix-header {
  position: sticky;
  top: 0;
}

.enhanced-tables-hidden {
  display: none;
}
